# Тест

In [63]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df=pd.read_csv('C:\csv\Lesson_1_titanic.csv')

# ВОПРОС 1: СКОЛЬКО УНИКАЬНЫХ СТРОК В КОЛОНКАХ Age Sex Sex? ОТВЕТ 289
df[~df.duplicated(subset=['Age', 'Sex', 'Pclass'])].shape  # Ищет дубликаты по трем колонкам, 
                                                           # (~) - переворачивает значение - видим только уникальные
                                                           # shape - выдает кол-во строк и колонок

print(len(df[~df.duplicated(subset=['Age', 'Sex', 'Pclass'])]))   # Аналогично что и выше

df_origin = df.copy()                        # Аналогично что и выше через удаление. копию оригинала сохранили в df_origin
df.drop_duplicates(subset=['Age', 'Sex', 'Pclass'], inplace = True)  #в Датафрейме остались только уникальные по трем столбцам
df.shape

# ВОПРОС 2: СКОЛЬКО ПРОПУСКОВ В ДАННЫХ ТИТАНИКА ВСЕГО? ОТВЕТ 198
df.isnull().sum().sum()

289

198

# ВОПРОС 3: НАСКОЛЬКО ИЗМЕНИТСЯ СРЕДНЕЕ ЗНАЧЕНИЕ ПРИЗНАКА Age ЕСЛИ ЗАМЕНИТЬ ПРОПУСКИ В ДАННОЙ КОЛОНКЕ НУЛЯМИ

In [58]:
import pandas as pd
import seaborn as sns

df=pd.read_csv('C:\csv\Lesson_1_titanic.csv')

Average_origin=df['Age'].mean()           # Считаем среднюю по столбцу до замены
print('Average origin:',Average_origin)
df['Age_new']=df['Age'].fillna(0)         # Заменяем пропуски на 0
Average_new=df['Age_new'].mean()          # Считаем среднюю по столбцу после замены
print('Average new:', Average_new)
print('raznica:', round(Average_origin-Average_new,2)) # От старой отнимаем новую

Average origin: 29.69911764705882
Average new: 23.79929292929293
raznica: 5.9

# ВОПРОС 4: НАСКОЛЬКО ИЗМЕНИТСЯ СРЕДНЕЕ ЗНАЧЕНИЕ Age ЕСЛИ ЗАМЕНИТЬ ПРОПУСКИ В ДАННОЙ КОЛОНКЕ СРЕДНИМ

In [59]:
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:\csv\Lesson_1_titanic.csv')
Average_origin=df['Age'].mean()           # Считаем среднюю по столбцу до замены
print('Average origin:',Average_origin)
df['Age_new']=df['Age'].fillna(Average_origin)         # Заменяем пропуски на среднее
Average_new=df['Age_new'].mean()          # Считаем среднюю по столбцу после замены
print('Average new:', Average_new)
print('raznica:', round(Average_origin-Average_new,2)) # От старой отнимаем новую

Average origin: 29.69911764705882
Average new: 29.69911764705882
raznica: 0.0

# ВОПРОС 5: НАСКОЛЬКО ИЗМЕНИТСЯ СРЕДНЕЕ ЗНАЧЕНИЕ Age ЕСЛИ ЗАМЕНИТЬ ПРОПУСКИ В ДАННОЙ КОЛОНКЕ МЕДИАНОЙ

In [61]:
import pandas as pd
import seaborn as sns
df=pd.read_csv('C:\csv\Lesson_1_titanic.csv')
Average_origin=df['Age'].mean()           # Считаем среднюю по столбцу до замены
print('Average origin:',Average_origin)
df['Age_new']=df['Age'].fillna(df['Age'].median())         # Заменяем пропуски на медиану 
Average_new=df['Age_new'].mean()          # Считаем среднюю по столбцу после замены
print('Average new:', Average_new)
print('raznica:', round(Average_origin-Average_new,2))     # От старой отнимаем новую

Average origin: 29.69911764705882
Average new: 29.36158249158249
raznica: 0.34