# Практическое задание

In [1]:
# Импорт библиотек
import numpy as np
import pandas as pd
from scipy.stats import iqr, skew, kurtosis

In [2]:
# Загрузка датафрейма
df = pd.read_csv(r'Lesson_1_2_loans.csv')
df.head()

,Id,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,STATE,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1,1303834,23,3,single,rented,no,Mechanical_engineer,Rewa,Madhya_Pradesh,3,13,0
1,2,7574516,40,10,single,rented,no,Software_Developer,Parbhani,Maharashtra,9,13,0
2,3,3991815,66,4,married,rented,no,Technical_writer,Alappuzha,Kerala,4,10,0
3,4,6256451,41,2,single,rented,yes,Software_Developer,Bhubaneswar,Odisha,2,12,1
4,5,5768871,47,11,single,rented,no,Civil_servant,Tiruchirappalli[10],Tamil_Nadu,3,14,1

In [3]:
df.describe()

,Id,Income,Age,Experience,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
count,252000.000000,2.520000e+05,252000.000000,252000.000000,252000.000000,252000.000000,252000.000000
mean,126000.500000,4.997117e+06,49.954071,10.084437,6.333877,11.997794,0.123000
std,72746.278255,2.878311e+06,17.063855,6.002590,3.647053,1.399037,0.328438
min,1.000000,1.031000e+04,21.000000,0.000000,0.000000,10.000000,0.000000
25%,63000.750000,2.503015e+06,35.000000,5.000000,3.000000,11.000000,0.000000
50%,126000.500000,5.000694e+06,50.000000,10.000000,6.000000,12.000000,0.000000
75%,189000.250000,7.477502e+06,65.000000,15.000000,9.000000,13.000000,0.000000
max,252000.000000,9.999938e+06,79.000000,20.000000,14.000000,14.000000,1.000000

### Задание

1. Посчитайте среднее для столбца Age. Ответ округлите до целого.

In [4]:
np.round(df.Age.mean(),0)

50.0

2. Посчитайте стандартное отклонение для столбца Age. Ответ округлите до целого.

In [5]:
np.round(df.Age.std(),0)

17.0

3. Посчитайте медиану для столбца Age. Ответ округлите до целого.

In [6]:
np.round(df.Age.median(),0)

50.0

4. Посчитайте моду для столбца Age. Ответ округлите до целого.

In [7]:
np.round(df.Age.mode(),0)

0    27
Name: Age, dtype: int64

5. Посчитайте минимум для столбца Age. Ответ округлите до целого.

In [8]:
np.round(df.Age.min(),0)

21

6. Посчитайте максимум для столбца Age. Ответ округлите до целого.

In [9]:
np.round(df.Age.max(),0)

79

7. Посчитайте значение q1 для столбца Age. Ответ округлите до целого.

In [10]:
np.round(df.Age.quantile(0.25),0)

35.0

8. Посчитайте значение q3 для столбца Age. Ответ округлите до целого.

In [11]:
np.round(df.Age.quantile(0.75),0)

65.0

9. Посчитайте коэффициент асимметрии для столбца Age. Ответ округлите до четырех знаков после запятой

In [12]:
# Функция pandas
np.round(df.Age.skew(), 4)

-0.0053

In [13]:
# Сравнение функций расчета коэффициента ассиметрии библиотек pandas и scipy.stats
print(f'''Коэффициент ассиметрии pandas: {df.Age.skew()}; \
\nКоэффициент ассиметрии scipy.stats:{skew(df.Age)}; \
\nРазница: {df.Age.skew() - skew(df.Age)}; \
\nРазница c Bias корректировкой: {df.Age.skew() - skew(df.Age, bias=False)}''')

Коэффициент ассиметрии pandas: -0.005315595764466954;
Коэффициент ассиметрии scipy.stats:-0.00531556412396366;
Разница: -3.1640503294662337e-08;
Разница c Bias корректировкой: 8.673617379884035e-19

10. Посчитайте коэффициент эксцесса для столбца Age. Ответ округлите до десятых.

In [14]:
# Функция pandas
np.round(df.Age.kurtosis(), 1)

-1.2

In [15]:
# Сравнение функций расчета коэффициента эксцесса библиотек pandas и scipy.stats
print(f'''Коэффициент ассиметрии pandas: {df.Age.kurtosis()}; \
\nКоэффициент ассиметрии scipy.stats:{kurtosis(df.Age)}; \
\nРазница: {df.Age.kurtosis() - kurtosis(df.Age)}; \
\nРазница c Bias корректировкой: {df.Age.kurtosis() - kurtosis(df.Age, bias=False)}''')

Коэффициент ассиметрии pandas: -1.2047686664238493;
Коэффициент ассиметрии scipy.stats:-1.204768571845771;
Разница: -9.457807825796749e-08;
Разница c Bias корректировкой: 2.220446049250313e-16

11. Посчитайте интерквартильный размах для столбца Age. Ответ округлите до целых.

In [16]:
iqr(df.Age)

30.0