# Практическое задание 2

In [1]:
# Импорт библиотек
import pandas as pd
import numpy as np

In [2]:
# Загрузка датафрейма

df = pd.read_csv(r'Lesson_1_titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Задания:

3. На сколько изменится среднее значение признака Age, если заменить пропуски в данной колонке нулями? Округлите до двух знаков после запятой. В случае ошибки введите ее название, например, ValueError, ReferenceError.

In [3]:
filled_df = df.fillna(0)
np.round(df.mean().Age - filled_df.mean().Age, 2)

C:\Users\pavlo\AppData\Local\Temp\ipykernel_16428\599466805.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  np.round(df.mean().Age - filled_df.mean().Age, 2)

5.9

In [4]:
filled_df['Age'] = df['Age'].fillna(0)
np.round(df['Age'].mean() - filled_df['Age'].mean(), 2)

5.9

4. На сколько изменится среднее значение признака Age, если заменить пропуски в данной колонке средним? Округлите до двух знаков после запятой. В случае ошибки введите ее название, например, ValueError, ReferenceError.

In [5]:
filled_df['Age'] = df['Age'].fillna(df['Age'].mean())
np.round(df['Age'].mean() - filled_df['Age'].mean(), 2)

0.0

5. На сколько изменится среднее значение признака Age, если заменить пропуски в данной колонке медианой? Округлите до двух знаков после запятой. В случае ошибки введите ее название, например, ValueError, ReferenceError.

In [6]:
filled_df['Age'] = df['Age'].fillna(df['Age'].median())
np.round(df['Age'].mean() - filled_df['Age'].mean(), 2)

0.34

6. На сколько изменится среднее значение признака Age, если заменить пропуски в данной колонке текстом "Undefined"? Округлите до двух знаков после запятой. В случае ошибки введите ее название, например, ValueError, ReferenceError.

In [7]:
filled_df = df.fillna("Undefined")
np.round(df['Age'].mean() - filled_df['Age'].mean(), 2)

TypeError: unsupported operand type(s) for +: 'float' and 'str'